.PersonalOrders {
    padding: 32px 0 100px;
    flex: 1;
    .subInfo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 42px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #919399;
            span {
                color: #1166ee;
            }
        }
    }
    .title {
        font-weight: 600;
        font-size: 25px;
        line-height: 100%;
        color: #212122;
        margin-bottom: 24px;
    }
    .navbar {
        border-radius: 8px;
        display: flex;
        background: #f5f5f7;
        .link {
            width: 25%;
            padding: 10px 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            text-align: center;
            color: #919399;
        }
    }
}
.Order {
    flex: 1;
    margin: 24px 0;
    .label {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 16px;
    }
    .name {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #525254;
        margin-bottom: 4px;
    }
    .info {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #7d7d80;
        margin-bottom: 16px;
    }
    .price {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #212122;
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        span {
            display: inline-block;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #7d7d80;
        }
    }
    .details {
        width: 375px;
        height: 44px;
        background: #f5f5f7;
        border-radius: 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #919399;
        margin-top: 16px;
        border: none;
    }
}
